<div class="container-fluid">
  <div class="row">
    <% @sectors.each do |sector| %>
      <div class="col-lg-4">
        <div class="panel panel-info" id="<%= sector.id %>">
          <div class="panel-heading">
            <p><%= sector.name %><br />Average P/E: <%= sector.avg_pe %></p>
          </div>
          <div class="panel-body">
            <% sector.companies.each do |company| %>
              <%= link_to(company.name, user_sector_company_path(current_user.id, company.sector.id, company.id), html_options = {class: "button"}) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>